input
{
    /* Bootstrap overrides */
    padding: 16px 8% 16px 2%!important;
    border-color: #a9a9a9!important;
    border-style: solid!important;
    border-width: 1px!important;
    height: 50px!important;
    border-radius: 0!important;;
}

label
{
    text-shadow: none;
    font-size: 0.875em;
}

.loading
{
    background-color: #ffffff;
    background-image: url("https://cdn2.rcstatic.com/images/site_graphics/newsite/preloader64.gif");
    background-size: 25px 25px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}